.container{

    max-width: 90rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    min-height: 30rem;
    box-shadow: var(--shadow-dark);
}



.content{
    display: flex;
    flex-direction: row;

}

.hotel-view{
    background-color: #ffffff;
   
    flex-grow: 1;
}
// .user-nav__icon{
//     background-color: red;
//     width: 10rem;
//     height: 10rem;
// }