.container{

    max-width: 90rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    min-height: 30rem;
    box-shadow: var(--shadow-dark);

    @media only screen and (max-width: $bp-largest){
        background-color: white;
        margin: 0;
        max-width: 100%;
    }
}



.content{
    display: flex;
    flex-direction: row;

    @media only screen and (max-width:$bp-medium){
        flex-direction: column;
    }

}

.hotel-view{
    background-color: #ffffff;
   
    flex-grow: 1;
}
// .user-nav__icon{
//     background-color: red;
//     width: 10rem;
//     height: 10rem;
// }