.header{
    height: 7rem;
    background-color: #ffffff;
    border-bottom: 1px solid var(--color-grey-light-2);
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width:$bp-medium){
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        height: 11rem;
    }
}
.logo{
    height: 3rem;
    padding: .5rem;
    margin-left: 2rem;
    @media only screen and (max-width:$bp-medium){
        height: 4rem;
        padding: .5rem;
     }
}

.search{
    flex:0 0 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width:$bp-small){
        order: 3;
        flex:0 0 100%;
        background-color: var(--color-grey-light-2);

     }
   
    &__input{
        font-family: inherit;
        font-size: 1.4rem;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border-radius: 50rem;
        border:none;
        padding: 0.7rem 2rem;
        width: 80%;
        margin-right: -4rem;
        transition: all 0.5s;

        &:focus{
            width: 100%;
            outline: none;
            background-color: var(--color-grey-light-3);
        } 
        &::placeholder{
            opacity: 0.4;
            font-weight: 700;
        }
    }
    
    &__button{
        border: none;
        background-color: var(--color-grey-light-2);

       &:focus{
           outline: none;
       }
       &:active{
           transform: translateY(3px);
       }

    }
    
    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

.user-nav{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    

    & > *{
       display: flex;
       flex-direction: row;
       align-items: stretch;
       transition: all 0.5s;
    }
    & > *:hover{
        transform: scale(1.05);
       
    }

    &__icon-box{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    &__icon{
        height: 3rem;
        width: 3rem;
        fill: var(--color-grey-dark-3);

        @media only screen and (max-width:$bp-medium){
            height: 4rem;
            width: 4rem;
            padding: .5rem;
         }
    }
    &__notification{
        background-color: var(--color-primary);
        border-radius: 50%;
        padding: .4rem;
        margin-bottom: -0.5rem;
        align-self: flex-end;
        @media only screen and (max-width:$bp-medium){
            padding: .2rem;
         }

    }
    &__user{

        @media only screen and (max-width:$bp-medium){
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
         }

    }
    &__user-photo{
        width: 4rem;
        border-radius: 50%;
    }
    &__user-name{
        margin-right: 0.4rem;
        align-self: flex-end;
    }
}